button {
  background-color: #2a7175;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  min-width: 12rem;
  border: none;
  color: #fff;
  border-radius: 0 0.188rem 0.188rem 0;
  font-weight: 600;
  line-height: 1.6;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #2a7175;
}
